:root {
    --color_electric_red: hsl(12, 100%, 63%);
    --color_electric_yellow: hsl(44, 100%, 63%);
    --color_electric_green: hsl(74, 100%, 63%);
    --color_electric_blue: hsl(209, 100%, 63%);
    --color_dark_red: #96485b;
    --color_red: #d18b79;
    --color_light_red: #e6cfa1;

    --color_dark_green: #70a18f;
    --color_green: #87c293;
    --color_light_green: #b2dba0;

    --color_dark_blue: #6074ab;
    --color_blue: #8bbde6;
    --color_light_blue: #c8eded;

    --min: 18%;
    --max: 91%;
    --sat: 20%;
    --hue: 44;

    --step: calc((var(--max) - var(--min))/12);
    --step0: calc(var(--min) + var(--step));
    --step1: calc(var(--min) + 2 * var(--step));
    --step2: calc(var(--min) + 3 * var(--step));
    --step3: calc(var(--min) + 4 * var(--step));
    --step4: calc(var(--min) + 5 * var(--step));
    --step5: calc(var(--min) + 6 * var(--step));
    --step6: calc(var(--min) + 7 * var(--step));
    --step7: calc(var(--min) + 8 * var(--step));
    --step8: calc(var(--min) + 9 * var(--step));
    --step9: calc(var(--min) + 10 * var(--step));
    --step10: calc(var(--min) + 11 * var(--step));

    --color_black: hsl(var(--hue), var(--sat), var(--min));
    --color_grey_d5: hsl(var(--hue), var(--sat), var(--step0));
    --color_grey_d4: hsl(var(--hue), var(--sat), var(--step1));
    --color_grey_d3: hsl(var(--hue), var(--sat), var(--step2));
    --color_grey_d2: hsl(var(--hue), var(--sat), var(--step3));
    --color_grey_d1: hsl(var(--hue), var(--sat), var(--step4));
    --color_grey: hsl(var(--hue), var(--sat), var(--step5));
    --color_grey_l1: hsl(var(--hue), var(--sat), var(--step6));
    --color_grey_l2: hsl(var(--hue), var(--sat), var(--step7));
    --color_grey_l3: hsl(var(--hue), var(--sat), var(--step8));
    --color_grey_l4: hsl(var(--hue), var(--sat), var(--step9));
    --color_grey_l5: hsl(var(--hue), var(--sat), var(--step10));
    --color_white: hsl(var(--hue), var(--sat), var(--max));

    --color_bg: var(--color_black);
    --color_main: var(--color_white);
    --color_secondary: var(--color_grey_l5);

    --color_main_text: var(--color_grey_l3);

    --color_error: var(--color_electric_red);
    --color_warning: var(--color_electric_yellow);
    --color_ok: var(--color_electric_green);
    --color_info: var(--color_electric_blue);

    --color_disabled: var(--color_grey);
    --color_text_disabled: var(--color_white);

    --round: 6px;
}