$radius: 1rem;
$padding: 0.6rem;
$margin: 1rem;
$font-size: 1rem;

$border: 1px solid var(--color_main_text);

$electric_red: hsl(12, 100%, 63%);
$electric_yellow: hsl(44, 100%, 63%);
$electric_green: hsl(74, 100%, 63%);
$electric_blue: hsl(209, 100%, 63%);

$dark_red: #96485b;
$red: #d18b79;
$light_red: #e6cfa1;

$dark_green: #70a18f;
$green: #87c293;
$light_green: #b2dba0;

$dark_blue: #6074ab;
$blue: #8bbde6;
$light_blue: #c8eded;