<div class="flex__row flex__spaced margin__top">
    <button type="submit" (click)="submit('easy')">Easy</button>
    <button type="submit" (click)="submit('medium')">Medium</button>
    <button type="submit" (click)="submit('hard')">Hard</button>
</div>
<form class="flex__row flex__spaced margin__vertical" [formGroup]="newGameForm" (ngSubmit)="submit('custom')">

    <div class="control">
        <label for="width">Width: </label>
        <input id="width" type="number" formControlName="width">
    </div>

    <div class="control">
        <label for="height">Height: </label>
        <input id="height" type="number" formControlName="height">
    </div>

    <div class="control">
        <label for="mines">Mines: </label>
        <input id="mines" type="number" formControlName="mines">
    </div>

    <button type="submit" [disabled]="!newGameForm.valid">Submit</button>
</form>