@import "variables";

@mixin coloredTile ($color) {
    background-color: $color;
    color: var(--white);
}

.mines {
    &__tile {
        background-color: var(--color-main);
        border: none;
        border-radius: $radius;
        cursor: pointer;
        aspect-ratio: 1;

        &__covered {
            background-color: var(--grey_d5);
        }

        &__uncovered {
            background-color: var(--grey_d4);
        }

        &__mine {
            background-color: $electric_red;
        }

        &__color {

            &__r1 {
                @include coloredTile(var(--grey_d3));
            }

            &__r2 {
                @include coloredTile(var(--grey_d2));
            }

            &__r3 {
                @include coloredTile(var(--grey_d1));
            }

            &__r4 {
                @include coloredTile(var(--grey));
            }

            &__r5 {
                @include coloredTile(var(--grey_l1));
            }

            &__r6 {
                @include coloredTile(var(--grey_l2));
            }

            &__r7 {
                @include coloredTile(var(--grey_l3));
            }

            &__r8 {
                @include coloredTile(var(--grey_l4));
            }

            &__r9 {
                @include coloredTile(var(--grey_l5));
            }
        }
    }
}