@import "variables";

@mixin coloredTile ($color) {
    background-color: $color;
    color: var(--white);
}

.icon {
    height: 100%;
}

.mine {
    height: 80%;
}

.rotated {
    transform: rotate(180deg);
}

@keyframes floating {
    from {
        transform: translate(0, 10%) rotate(20deg);
    }

    25% {
        transform: translate(0, 20%) rotate(-20deg);
    }

    50% {
        transform: translate(0, 10%) rotate(17deg);
    }

    75% {
        transform: translate(0, 25%) rotate(-15deg);
    }

    to {
        transform: translate(0, 10%) rotate(20deg);
    }
}

.floating {
    animation: floating 10s ease-in-out infinite;
}

@keyframes waves {
    from {
        mask-position: 0px;
    }

    to {
        mask-position: 100px;
    }
}

.waves {
    height: 100%;
    mask-image: url('/assets/waves.svg');
    mask-size: 105%;
    mask-repeat: repeat-x;
    animation: waves 14s linear infinite;
    overflow: hidden;
}


.mines {
    &__tile {
        background-color: var(--color-main);
        border: none;
        border-radius: $radius;
        cursor: pointer;
        aspect-ratio: 1;

        &__covered {
            background-color: var(--grey_d5);
        }

        &__uncovered {
            background-color: var(--grey_d4);
        }

        &__mine {
            background-color: $electric_red;
        }

        &__color {

            &__r1 {
                @include coloredTile(var(--grey_d3));
            }

            &__r2 {
                @include coloredTile(var(--grey_d2));
            }

            &__r3 {
                @include coloredTile(var(--grey_d1));
            }

            &__r4 {
                @include coloredTile(var(--grey));
            }

            &__r5 {
                @include coloredTile(var(--grey_l1));
            }

            &__r6 {
                @include coloredTile(var(--grey_l2));
            }

            &__r7 {
                @include coloredTile(var(--grey_l3));
            }

            &__r8 {
                @include coloredTile(var(--grey_l4));
            }

            &__r9 {
                @include coloredTile(var(--grey_l5));
            }
        }
    }
}