@import "reset";
@import "forms";
@import "variables";

:root {
  --min: 18%;
  --max: 91%;
  --sat: 10%;
  --hue: 44;

  --step: calc((var(--max) - var(--min))/12);
  --step0: calc(var(--min) + var(--step));
  --step1: calc(var(--min) + 2 * var(--step));
  --step2: calc(var(--min) + 3 * var(--step));
  --step3: calc(var(--min) + 4 * var(--step));
  --step4: calc(var(--min) + 5 * var(--step));
  --step5: calc(var(--min) + 6 * var(--step));
  --step6: calc(var(--min) + 7 * var(--step));
  --step7: calc(var(--min) + 8 * var(--step));
  --step8: calc(var(--min) + 9 * var(--step));
  --step9: calc(var(--min) + 10 * var(--step));
  --step10: calc(var(--min) + 11 * var(--step));

  --black: hsl(var(--hue), var(--sat), var(--min));
  --grey_d5: hsl(var(--hue), var(--sat), var(--step0));
  --grey_d4: hsl(var(--hue), var(--sat), var(--step1));
  --grey_d3: hsl(var(--hue), var(--sat), var(--step2));
  --grey_d2: hsl(var(--hue), var(--sat), var(--step3));
  --grey_d1: hsl(var(--hue), var(--sat), var(--step4));
  --grey: hsl(var(--hue), var(--sat), var(--step5));
  --grey_l1: hsl(var(--hue), var(--sat), var(--step6));
  --grey_l2: hsl(var(--hue), var(--sat), var(--step7));
  --grey_l3: hsl(var(--hue), var(--sat), var(--step8));
  --grey_l4: hsl(var(--hue), var(--sat), var(--step9));
  --grey_l5: hsl(var(--hue), var(--sat), var(--step10));
  --white: hsl(var(--hue), var(--sat), var(--max));

  --color_bg: var(--black);
  --color_main: var(--white);
  --color_secondary: var(--grey_l5);

  --color_main_text: var(--grey_l3);

  --color_error: $electric_red;
  --color_warning: $electric_yellow;
  --color_ok: $electric_green;
  --color_info: $electric_blue;

  --color_disabled: var(--grey);
  --color_text_disabled: var(--white);
}

/* Application-wide Styles */
h1 {
  color: var(--color_main);
  font-size: 250%;
}

h2,
h3 {
  color: var(--color_secondary);
  font-weight: lighter;
}

html {
  background-color: var(--color_bg);
  color: var(--color_main_text);
}

body {
  margin: 2em;
}

/* everywhere else */
* {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
}

.fill {
  width: 100%;
  height: 100%;
}

.flex {

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__spaced {
    gap: $margin;
  }
}

.grid {
  &__4c {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

.margin {
  &__top {
    margin-top: $margin;
  }

  &__bottom {
    margin-bottom: $margin;
  }

  &__vertical {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &__left {
    margin-left: $margin;
  }

  &__right {
    margin-right: $margin;
  }

  &__horizontal {
    margin-left: $margin;
    margin-right: $margin;
  }
}