@import "styles/variables";

/* Application-wide Styles */
h1 {
  color: var(--color_main);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: var(--color_secondary);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input,
button {
  color: var(--color_text);
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: var(--color_main);
  cursor: pointer;
  color: var(--color_main_text);
  font-size: 1.2rem;
}

button:hover {
  filter: brightness(1.15);
}

button:disabled {
  background-color: var(--color_disabled);
  color: var(--color_disabled_text);
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}